@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/***********************************/
/***********************************/
/************main classes***********/
/***********************************/
/***********************************/

:root {
  --main-font-family: "Montserrat", sans-serif;
  --second-font-family: 'Karla', sans-serif;
  --main-color: #131313;
  --third-color: #fca311;
  --first-font-color: #ffffff;
  --secondary-font-color: #e5e5e5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  max-height: 100%;
  height: auto;
  max-width: 100%;
  width: 100%;
  background-color: var(--main-color);
  font-family: var(--main-font-family);
  color: var(--first-font-color);
}

.App a {
  color: var(--first-font-color);
  text-decoration: none;
}
.App li {
  list-style: none;
}
.App button {
  font-family: var(--main-font-family);
  cursor: pointer;
}

.sec-home,
.sec-about,
.sec-project,
.sec-contact {
  max-width: 100%;
  width: 100%;
}

.about-head-icon,
.project-head-icon,
.company-head-icon {
  font-size: 3rem;
}

.ahref a{
  text-decoration: underline;
  text-underline-offset: 5px;
  color: #52d6f4;
}
.ahref a:hover{
  text-decoration: underline;
  text-underline-offset: 5px;
  color: var(--first-font-color);
}

  
/***********************************/
/*****************Nav***************/
/***********************************/

.App header {
  position: fixed;
  max-width: 100%;
  width: 100%;
  background-color: var(--main-color);
  z-index: 100;
}
.App nav {
  max-width: 100%;
  width: 90%;
  min-height: 10vh;
  margin: 0 auto;
}
.nav-image-container{
  max-width: 90px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nav-image-container img{
  width: 100%;
  object-fit: contain;
}
.navigation-links li {
  margin: 0 1em;
}
.App nav li {
  font-weight: 600;
  font-size: 1rem;
  padding-top: 1em;
}
.App nav a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: var(--first-font-color);
}

.hamburger {
  margin-right: 1em;
  display: none;
}

.hamburger li {
  background-color: transparent;
  height: auto;
  width: 100%;
  display: block;
  margin: 0 1em;
  cursor: pointer;
}

.hamburger li div{
  background-color: var(--first-font-color);
  height: 3px;
  margin: 5px 0;
}


/***********************************/
/************HOME***********/
/***********************************/

.sec-about {
  position: relative;
}
.home-container {
  width: 90%;
  margin: 0 auto;
  align-items: center;
  min-height: 100vh;
}

.home-container-left {
  width: 100%;
  padding: 0 1em;
}
.home-container h1 {
  font-size: 4rem;
  font-weight: 700;
}

.home-container p {
  font-family: var(--second-font-family);
  margin: 1em 0;
}
.btn-wrapper{
  max-width: 100%;
  width: 80%;
  gap: 1em;
}
.btn-wrapper a{
  max-width: 100%;
  width: 100%;
}
.btn-wrapper button {
  background-color: var(--main-color);
  color: var(--first-font-color);
  border: 1px solid var(--first-font-color);
  margin: 1em 0 0;
  padding: 1em 2em;
  font-weight: 700;
  position: relative;
  z-index: 1;
  letter-spacing: 0.2em;
  max-width: 100%;
  width: 100%;
}
.btn-wrapper button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--first-font-color);

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
  z-index: -1;
}
.btn-wrapper button:hover {
  color: var(--main-color);
}
.btn-wrapper button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.btn-wrapper button:first-child {
  margin-right: 1em;
}


/***********************************/
/***********************************/
/************ANIMATION***********/
/***********************************/
/***********************************/


.home-container-right {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
  background-color: var();
  display: flex;
  justify-content: center;
  align-items: center; 
}


svg{
  height: 100%;
  width: 100%;
  
}

/***********************************/
/***********HOME BODY SECTION*********/
/***********************************/

.sec-company, .sec-project, .sec-reachOut {
  padding: 2em 0;
}
.company-container, .project-container, .reachOut-container {
  max-width: 100%;
  width: 90%;
  padding: 2em 0;
  /* inline-size: min(100% - 4rem, 70rem);
  margin-inline: auto; */
  margin: 0 auto;
  background-color: var(--main-color);
}
.company-container h1, .project-container h1, .reachOut-container h1{
  font-size: 3rem;
}


/***********************************/
/***********COMPANY SECTION*********/
/***********************************/
.company-head-icon{
  margin-top: 1em;
}
.company-container h4 {
  text-align: center;
  margin-bottom: 3em;
}
.company-logos {
  gap: 3em;
  flex-wrap: wrap;
}
.company-logos img{
  max-width: 100%;
  width: 150px;
  height: 150px;
}
/***********************************/
/***********PROJECT SECTION*********/
/***********************************/


/***********************************/
/***********REACHOUT SECTION*********/
/***********************************/
.reachOut-container{
  padding: 10em;
}
.reachOut-container-left{
  max-width: 100%;
  width: 50%;
}
.reachOut-container-typewrite{
  gap: .2em;
  font-size: 2em;
}
.reachOut-container .auto-type{
  font-weight: 700;
}
.reachOut-container-p{
  font-size: 2em;
}
.reachOut-container-contact{
  gap: .5em;
}

/***********************************/
/************ABOUT**********/
/***********************************/

.sec-about {
  background-color: var(--main-color);
  height: 100vh;
  
}
.about-container {
  width: 90%;
  margin: 0 auto;
  padding: 7em 0 0;
}
.about-container h1 {
  font-size: 3rem;
}

.carousel-container{
  position: relative;
}
.arrows{
  top: 50%;
  font-size: 3em;
  cursor: pointer;
  background-color: #dbdbdb;
  text-align: center;
  border-radius: 50%;
  color: #131313;
  position: absolute;
  transform: translateY(-50%);
}

.arrows:first-child{
  left: -23px;
}
.arrows:last-child{
  right: -23px;
}
.about-carousel {
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  gap: 1rem;
  overflow-x: hidden; 
}
.carousel-element {
  display: grid;
  padding: 1rem;
  grid-template-rows: min-content;
  gap: 1rem;
  background: var(--first-font-color);
}

.carousel-element > img {
  inline-size: 100%;
  aspect-ratio: 16/9;
  object-fit: contain;
}

.snap-inline {
  scroll-snap-type: inline mandatory;
}

.snap-inline > * {
  scroll-snap-align: start;
  scroll-padding-inline: 1rem;
}

.carousel-star{
  gap: .5em;
}
.star{
  color: #fca311;
}



/***********************************/
/***********CONTACT SECTION*********/
/***********************************/
.contact-email, .contact-timezone, .contact-inputs{
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
  padding: 0 10em;
}
.contact-email{
  margin-bottom: 2em;
  gap: 2em;
}
.contact-email div{
  width: 100%;
  background-color: var(--first-font-color);
  padding: 40px 0;
  text-align: center;
  color: var(--main-color);
  font-weight: 700;
  font-family: var(--second-font-family);
  font-size: 1.1em;
}
.contact-timezone h3, .contact-inputs h3{
  max-width: 100%;
  width: 50%;
  font-weight: 400;
}
.contact-inputs input{
  display: block;
}


/***********************************/
/***********FOOTER SECTION*********/
/***********************************/

.footer{
  max-width: 100%;
  min-height: 10vh;
  background-color: var(--first-font-color);
}
.footer-divs{
  width: 90%;
  margin: 0 auto;
  padding: 2em 0 0;
  color: var(--main-color);
  font-weight: 500;
}
.footer-privacy li:hover{
  color: #52d6f4;
  cursor: pointer;
}
.footer ul li{
  margin: 0 .5em;
}
.footer-logos{
  cursor: pointer;
  font-size: 2em;
  flex-wrap: wrap;
}
.footer-logos li:hover{
  color: #52d6f4;
}
/***********************************/
/***********MEDIA QUERIERS *********/
/***********************************/
@media screen and (max-width:1700px){
  .reachOut-container-typewrite{
    gap: .2em;
    font-size: 1.5em;
  }
  .reachOut-container-p{
    font-size: 1.5em;
  }
}
@media screen and (max-width:1500px){
  .btn-wrapper{
    width: 100%;
  }
  .reachOut-container{
    padding: 0;
  }
  .reachOut-container-typewrite{
    gap: .2em;
    font-size: 1.5em;
  }
  .reachOut-container-p{
    font-size: 1.5em;
  }

  #contact{
    padding-top: 10em;
  }
  .contact-email, .contact-timezone{
    padding: 1em 0;
  }
  .contact-timezone h3{
    max-width: 100%;
    width: 50%;
    font-size: 1.5em;
  }
}
@media screen and (max-width:1280px){
  .btn-wrapper{
    flex-direction: column;
    width: 100%;
  }

  .reachOut-container-left{
    width: 60%;
  }

  /***********************************/
  /***********FOOTER SECTION*********/
  /***********************************/
  .footer-divs{
    flex-direction: column;
  }
}
@media screen and (max-width:1023px){
  .home-container{
    flex-wrap: wrap;
    padding: 10em 0 0;
    gap: 5em;
  }
  .btn-wrapper{
    flex-direction: column;
    width: 100%;
  }
  .home-container button{
    width: 100%;
  }
  .home-container h1 {
    font-size: 3.5rem;
  }
  .btn-wrapper button {
    font-size: .9em;
  }
  .home-container-right{
    background-color: #141417;
  }

  .reachOut-container{
    flex-direction: column;
    text-align: center;
    gap: 2em;
  }
  .reachOut-container-typewrite{
    align-items: center;
    justify-content: center;
  }
  .reachOut-container-left{
    width: 100%;
  }
  .reachOut-container-contact{
    justify-content: center;
  }
  /***********************************/
  /***********About SECTION*********/
  /***********************************/
  .about-carousel {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 35%;

  }

  /***********************************/
  /***********Contact SECTION*********/
  /***********************************/

  .contact-timezone h3{
    max-width: 100%;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
  }

}


@media screen and (max-width:769px){
  .home-container h1 {
    font-size: 3rem;
  }

  .reachOut-container-typewrite{
    gap: .2em;
    font-size: 1.2em;
  }

  .reachOut-container-p{
    font-size: 1.2em;
  }
  /***********************************/
  /***********About SECTION*********/
  /***********************************/
  .about-carousel {
    grid-auto-flow: column;
    grid-auto-columns: 50%;

  }

  /***********************************/
  /***********Contact SECTION*********/
  /***********************************/
  .contact-email{
    flex-direction: column;
  }
  
  .contact-email div{
    padding: 30px 0;
    font-size: .9em;
  }

  .contact-timezone h3{
    font-size: 1.2em;
  }

  /***********************************/
  /***********FOOTER SECTION*********/
  /***********************************/
  .footer-divs{
    flex-direction: column;
    font-size: .8em;
  }
}


@media screen and (max-width:480px){
  body{
    font-size: .9em;
  }
  .reachOut-container-typewrite{
    gap: .2em;
    font-size: .9em;
  }
  .reachOut-container-p{
    font-size: .9em;
  }
  .reachOut-container-contact{

    flex-direction: column;
  }

  .contact-timezone h3{
    font-size: .9em;
  }
}